body {
  margin: 0px;
}
.App {
  display: flex;
  flex-direction: row;
}
.nav {
  padding-top: 50px;
  width: 20vw;
  height: 100vh;
  background-color: rgb(250, 230, 230);
}
.content {
  width: 80vw;
  position: relative;
  font-family: "Courier New", Courier, monospace;
}
.content h1 {
  padding-left: 3vw;
  padding-top: 50px;
  font-size: 30px;
}
.content p {
  padding-left: 3vw;
  padding-top: 10px;
  font-size: 25px;
}
.users {
  position: relative;
  width: 100%;
}
.users .list-item {
  margin-left: 6vw;
  margin-bottom: 3vh;
  width: 20vw;
  height: 8vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: rgba(110, 210, 160, 0.5);
  border-radius: 10px;
  cursor: pointer;
}
.users .list-item:hover {
      background-color: rgba(110, 210, 160, 1);

}
.users .list-item p {
  margin: 0px;
  font-size: 20px;
}
.edit-form {
  position: absolute;
  right: 0px;
  top: 10vh;
  width: 30vw;
  height: 75vh;
  background-color: rgba(100, 205, 235, 0.1);
  border-left: 4px solid rgba(100, 205, 235, 0.5)
}
.edit-form h1 {
  margin:0px;
}
