body {
  margin: 0px;
}
.App {
  display: flex;
  flex-direction: row;
}
.nav {
  padding-top: 50px;
  width: 20vw;
  height: 100vh;
  background-color: rgb(250, 230, 230);
}
.content {
  width: 80vw;
  position: relative;
  font-family: "Courier New", Courier, monospace;
}
.content h1 {
  padding-left: 3vw;
  padding-top: 50px;
  font-size: 30px;
}
.content p {
  padding-left: 3vw;
  padding-top: 10px;
  font-size: 25px;
}
.users {
  position: relative;
  width: 100%;
}
.users .list-item {
  margin-left: 6vw;
  margin-bottom: 3vh;
  width: 20vw;
  height: 8vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: rgba(110, 210, 160, 0.5);
  border-radius: 10px;
  cursor: pointer;
}
.users .list-item:hover {
  background-color: rgba(110, 210, 160, 1);
}
.users .list-item p {
  margin: 0px;
  font-size: 20px;
}
.edit-form {
  position: absolute;
  right: 0px;
  top: 10vh;
  width: 30vw;
  height: 75vh;
  background-color: rgba(100, 205, 235, 0.1);
  border-left: 4px solid rgba(100, 205, 235, 0.5);
}
.edit-form h1 {
  margin: 0px;
}
.edit-form input {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 3vw;
  width: 20vw;
  height: 5vh;
  border: 2px solid rgba(150, 30, 0, 0.3);
  border-radius: 10px;
  font-size: 20px;
  background-color: rgba(255, 200, 255, 0.2);
}
.confirmation-modal {
  width: 30vw;
  height: 23vh;
  background-color: rgb(245, 245, 245);
  position: fixed;
  top: 20vh;
  left: 35vw;
  border-radius: 30px;
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.confirmation-modal p {
  text-align: center;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* semi-transparent */
  backdrop-filter: blur(5px); /* blur effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.row-flex-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0%;
}
.edit-form button {
  position: absolute;
  right: 2vw;
  top: 4.5vh;
  width: 2.5vw;
  height: 2.5vw;
  border: none;
  border-radius: 40%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 100, 100);
  color: white;
  cursor: pointer;
}